<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} %-5level %logger{36} - %msg%n
      </pattern>
    </encoder>
  </appender>
	
	<appender name="FILE" class="ch.qos.logback.core.FileAppender">
	    <!-- Name of the file where the log messages are written -->
	    <file>/etc/tomcat8/logs/twitterautomation.log</file>
	    <encoder>
	      <pattern>%d{HH:mm:ss.SSS} %-5level %logger{36} - %msg%n</pattern>
	    </encoder>
    </appender>
	

  <root level="info">
    <appender-ref ref="STDOUT" />
    <appender-ref ref="FILE" />
  </root>
</configuration>