<footer>
            <div class="container">
                <div class="row">
                    <div class="span3">
                    	<div class="inner">
                            <h3><img src="/images/careydevlogosmall.png" /></h3>
                            <p> </p>
                        </div>
                    </div>
                    <div class="span3">
                    	<div class="inner">
                    		<h3>Pages</h3>
     						<a href="http://careydevelopment.us">Carey Development</a><br/>
     						<a href="http://careydevelopment.us/contact">Contact</a><br/>         
                        </div>
                    </div>
                    <div class="span3">
                    	<div class="inner">
                    		<h3>Apps</h3>
                            <a href="http://careydevelopment.us/TwitterSignin">Twitter Sign-In</a><br/>
     						<a href="http://careydevelopment.us/InstagramAutomation">Instagram Sign-In</a><br/>
     						<a href="http://careydevelopment.us/TwitterAutomation">Twitter Automation</a><br/>
                        </div>
                    </div>
                    <div class="span3">
                    	<div class="inner last">
                            <h3>Contact Info</h3>
                            <p>Feel free to reach out to me at any time. </p>
                            <div class="foot-contact">
                            	<ul class="fa-ul">
                            		<li><i class="fa-li fa fa-user"></i> Brian Carey</li>
                                	<li><i class="fa-li fa fa-phone"></i> 919-412-3571</li>
                                	<li><i class="fa-li fa fa-envelope"></i> <a href="mailto:mrbrianmcarey@gmail.com">mrbrianmcarey@gmail.com</a></li>
                                	<li><i class="fa-li fa fa-home"></i> Wake Forest, NC</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

<div>
        <div id="back-top" style="display: block;">
            <a href="#top" class="img-circle">
                <i class="fa fa-angle-up"></i>
            </a>
        </div>
        </div>
        
        <!-- Google Fonts -->
        <link href='http://fonts.googleapis.com/css?family=Raleway:400,500,600,700,300' rel='stylesheet' type='text/css'/>
        <!-- Base Stylesheet -->
        <link rel="stylesheet" href="/css/base.css"/>
        <link rel="stylesheet" href="/css/sitestyle.css"/>
        <link rel="stylesheet" class="alt" href="/css/theme-blue.css"/>
       	    <!-- JQuery Plugin -->
       	<script type="text/javascript" src="/js/jquery.js"></script>
	    <script type="text/javascript" src="/js/vendor/jquery.appear.min.js"></script> 
	    <script type='text/javascript' src="/js/vendor/jquery.fancybox.js?v=2.1.5"></script>
	    <script type="text/javascript" src="/js/vendor/jquery.cookie.js"></script>
	    <script type='text/javascript' src="/js/vendor/bootstrap.min.js"></script>
	    <script type='text/javascript' src="/js/vendor/twitter-bootstrap-hover-dropdown.min.js"></script>
	    <script type='text/javascript' src='/js/vendor/jquery.easing.1.3.js'></script> 
	    <script type='text/javascript' src="/js/vendor/jquery.plugins.min.js"></script>
	    <script type="text/javascript" src="/js/vendor/stellar.js"></script>
	    <script type='text/javascript' src="/js/vendor/jquery.validate.min.js"></script>
	    <script type='text/javascript' src="/js/vendor/owl.carousel.min.js"></script>
	    <script type='text/javascript' src="/js/vendor/jquery.fitvids.js"></script>
	    <script type="text/javascript" src="/js/vendor/masonry.pkgd.min.js"></script>
	    <script type='text/javascript' src="/twitter/jquery.tweet.js"></script>
	    <script type='text/javascript' src="/js/vendor/jquery.flexslider-min.js"></script>
	    <script type='text/javascript' src="/js/vendor/jflickrfeed.min.js"></script>
	    <script type="text/javascript" src="/js/vendor/jquery.mixitup.js"></script>
	    
	    <!-- JQuery Map UiPlugin -->
    	<script src="http://maps.google.com/maps/api/js?sensor=true"></script>
		<script src="/assets/plugins/map/jquery.ui.map.min.js"></script>
	        
     	<script src="/js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>         
 
</footer>