        <header>   
            <div class="container">
                <div class="row">
                    <div class="span3 logo">
                        <a href="http://careydevelopment.us"><img src="/images/careydevlogosmall.png" alt=""/></a>
                    </div>
                    <div class="span9">
                        <div class="pull-right">
                            <div class="navbar">
                                <div class="container">
                                    <button data-target=".nav-collapse" data-toggle="collapse" class="btn btn-navbar" type="button">
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                    </button>
                                    <div class="navbar-collapse nav-collapse collapse">
                                        <ul class="nav">
                                            <li th:class="${homeActive}">
                                                <a href="./">Home</a>
                                            </li>
                                            <li th:class="${autofollowActive}">
                                                <a href="./autofollow">Autofollow</a>
                                            </li>
                                            <li th:class="${autoUnfollowActive}">
                                                <a href="./autounfollow">AutoUnfollow</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <!--/.nav-collapse -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="breadcrumb-wrap" style="padding:0px 0px;margin-top:15px;border-top:1px solid #e0e0e0">&nbsp;</div>
        </header>