<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

    <script th:src="@{/js/jquery.js}"></script>     
    <script th:src="@{/css/jquery-ui/jquery-ui.js}"></script>  
    <script th:src="@{/js/tagit.js}"></script>
    <script th:src="@{/js/twitter.js}"></script> 
    
    <link th:href="@{/css/tagit-simple-blue.css}" rel="stylesheet"/>   
    <link th:href="@{/css/jquery-ui/jquery-ui.css}" rel="stylesheet"/>
    <link th:href="@{/css/autofollow.css}" rel="stylesheet"/>
</head>