
	select {
		width: 200px;
	}
	
	.form-label {
		font-weight:bold;
		margin-bottom:5px;
	}
	
	.form-section {
		margin-bottom:25px;
	}
	
	.statusArea {
		display:none;
		border-style:solid;
		border-width:2px;
		height:300px;
		width:350px;
		overflow:scroll;
		padding-left:3px;
		padding-right:3px;
	}
	
	hr {
    	display: block;
    	height: 1px;
    	border: 0;
    	border-top: 1px solid #ccc;
    	margin: 1em auto;
    	padding: 0;
	}

	.toplogo {
	}
	
	
	
	ul.menu {
    text-align: justify;
    width: 350px;
}
ul.menu:after {
    content: '';
    display: inline-block;
    width: 100%;
}
ul.menu:before {
    content: '';
    display: block;
    margin-top: -1.25em;
}
li.menu-item {
    display: inline-block;
    margin-right: -.25em;
    position: relative;
    top: 1.25em;
}
	
	
	
	a.menu-link {
		text-decoration:none;
		font-weight:bold;
		font-family: Arial, Helvetica, sans-serif;
	}


	  table {
	    border: 1px solid #ccc;
	    width: 100%;
	    margin:0;
	    padding:0;
	    border-collapse: collapse;
	    border-spacing: 0;
	  }
	
	  table tr {
	    border: 1px solid #ddd;
	    padding: 5px;
	  }
	
	  table th, table td {
	    padding: 10px;
	    text-align: center;
	  }
	
	  table th {
	    text-transform: uppercase;
	    font-size: 14px;
	    letter-spacing: 1px;
	  }

	
	@media only screen and (max-width:520px) {
		.toplogo {
			width: 250px;
		}
		
		.tagsArea {
			width:250px !important;
			height:100px !important;
		}
		
		table {
	      border: 0;
	    }
	
	    table thead {
	      display: none;
	    }
	
	    table tr {
	      margin-bottom: 10px;
	      display: block;
	      border-bottom: 2px solid #ddd;
	    }
	
	    table td {
	      display: block;
	      text-align: center;
	      font-size: 13px;
	      border-bottom: 1px dotted #ccc;
	    }
	
	    table td:last-child {
	      border-bottom: 0;
	    }
	
	    table td:before {
	      content: attr(data-label);
	      float: left;
	      text-transform: uppercase;
	      font-weight: bold;
	    }
	}
