<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>TwitterAutomation : AutoUnfollow</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
 	<script th:src="@{/js/jquery.js}"></script>  
    <script th:src="@{/js/twitter.js}"></script> 
  
    <link th:href="@{/css/sitestyle.css}" rel="stylesheet"/>
    
</head>
<body class="wide">
<div th:include="fragments/header :: header">...</div>


    <div id="main-wrapper">
        <div class="dark-grey">
            <div class="container">
            	<div class="row">
                	<div class="span12">
                        <div class="page-header">
							<h1>AutoUnfollow</h1>
						</div>
						<div>
							<form id="followForm">
								<input type="hidden" th:value="${localhost}" id="localhost" name="localhost" />
								
								<div class="form-section">
								<label>User:</label>
								<div><input id="twitteruser" th:value="${username}" type="text" class="span4"/></div>
								</div>
								
								<div class="form-section">
								<label>Offset:</label>
								<div><input id="offset" value="5000" type="text" class="span4"/></div>
								</div>
							</form>
								
								<div id = "buttonDiv" class="form-section">
								<button id="unfollowButton" class="btn send-btn" onclick="beginAutoUnfollow(localhost)">Begin AutoUnfollow</button>
								</div>
								
								
								<div id="statusText" style="display:none;margin-bottom:20px;font-size:12pt;width:300px; font-weight:bold; background-color: #e6f2ff; padding: 5px 5px 5px 5px">
								Please wait while the system autounfollows people who aren't following you back. There will be a delay of several seconds between each unfollow.
								That's quite intentional.
								</div>
								
								<div id="statusArea" class="statusArea">
								<div id="statusResults"></div>
								<img th:src="@{/images/ripple.gif}" id="spinnerIcon"/>
								</div>

                                
								<div id = "anotherRunButtonDiv" style="display:none" class="form-section">
									<button id="anotherRunButton" class="btn send-btn" onclick="anotherUnfollowRun()">Another Run</button>
								</div>
							</div>
						</div>					
					</div>
				</div>
			</div>
		</div>

<div th:include="fragments/footer :: footer">...</div>
</body>
<script>
var localhost = $('#localhost').val();
</script>
</html>