<!DOCTYPE html>

<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <!--<![endif]-->
    <!-- BEGIN HEAD -->
    
    <head>
        <meta charset="utf-8"></meta>
        <title>BlastFollow | Dashboard</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
        <meta content="width=device-width, initial-scale=1" name="viewport"></meta>
        <meta content="" name="description"></meta>
        <meta content="" name="author"></meta>                
        <link th:href="@{/assets/global/plugins/font-awesome/css/font-awesome.min.css}" rel="stylesheet" type="text/css"></link>
        <link th:href="@{/assets/global/plugins/simple-line-icons/simple-line-icons.min.css}" rel="stylesheet" type="text/css"></link>
        <link th:href="@{/assets/global/plugins/bootstrap/css/bootstrap.min.css}" rel="stylesheet" type="text/css"></link>
        <link th:href="@{/assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css}" rel="stylesheet" type="text/css"></link>
        <link th:href="@{/assets/global/css/components.min.css}" rel="stylesheet" id="style_components" type="text/css"></link>
        <link th:href="@{/assets/global/css/plugins.min.css}" rel="stylesheet" type="text/css"></link>
        <link th:href="@{/assets/layouts/layout/css/layout.min.css}" rel="stylesheet" type="text/css"></link>
        <link th:href="@{/assets/layouts/layout/css/themes/darkblue.min.css}" rel="stylesheet" type="text/css" id="style_color"></link>
        <link th:href="@{/assets/layouts/layout/css/custom.min.css}" rel="stylesheet" type="text/css"></link>
        <link rel="shortcut icon" th:href="@{/images/favicon.ico}"></link>
    </head>
    <!-- END HEAD -->

    <body class="page-header-fixed page-sidebar-closed-hide-logo page-content-white">
        <!-- BEGIN HEADER -->
        <div th:include="fragments/header :: header"></div>
        <!-- END HEADER -->
        <div class="clearfix"> </div>
        <!-- BEGIN CONTAINER -->
        <div class="page-container">
            <!-- BEGIN SIDEBAR -->
            <div th:include="fragments/sidebar :: sidebar"></div>
            <!-- END SIDEBAR -->
            <!-- BEGIN CONTENT -->
            <div class="page-content-wrapper">
                <!-- BEGIN CONTENT BODY -->
                <div class="page-content">
                    <!-- BEGIN PAGE HEADER-->
                    <!-- BEGIN PAGE BAR -->
                    <!--  <div class="page-bar">
                       	<div th:include="fragments/breadcrumbs :: breadcrumbs"></div>
                        <div th:include="fragments/actionbar :: actionbar"></div>
                    </div>-->
                    <!-- END PAGE BAR -->
                    <!-- BEGIN PAGE TITLE-->
                    <h1 class="page-title">Dashboard</h1>
                    <!-- END PAGE TITLE-->
                    <!-- END PAGE HEADER-->
                    <th:block th:if="${twitterUser != null and twitterUser.newUser}">
                    	<div class="portlet-body">
                            <div class="note note-success">
                                <h4 class="block">Welcome!</h4>
                                <p>It looks like this is your first time here. Welcome aboard.</p>
                                <p>You can use this tool to follow, unfollow, and refollow other Twitter users <i>en masse.</i></p>
                            </div>
                        </div>
                    </th:block>
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <a class="dashboard-stat dashboard-stat-v2 blue" href="#" style="cursor:default">
                                <div class="visual">
                                    <i class="fa fa-users"></i>
                                </div>
                                <div class="details">
                                    <div class="number">
                                        <span data-counter="counterup" th:data-value="${session.twitterUser.followersCount}" th:text="${session.twitterUser.followersCount}">0</span>
                                    </div>
                                    <div class="desc"> Followers </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <a class="dashboard-stat dashboard-stat-v2 red" href="#" style="cursor:default">
                                <div class="visual">
                                    <i class="fa fa-users"></i>
                                </div>
                                <div class="details">
                                    <div class="number">
                                        <span data-counter="counterup" th:data-value="${session.twitterUser.friendsCount}" th:text="${session.twitterUser.friendsCount}">0</span>
                                    </div>
                                    <div class="desc"> Following </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <a class="dashboard-stat dashboard-stat-v2 green" href="#" style="cursor:default">
                                <div class="visual">
                                    <i class="fa fa-pie-chart"></i>
                                </div>
                                <div class="details">
                                    <div class="number">
                                        <span data-counter="counterup" th:data-value="${ratio}" th:text="${ratio}">0</span>
                                    </div>
                                    <div class="desc"> Ratio </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <th:block th:if="${not #lists.isEmpty(tips)}">
                    <div class="portlet light bordered">
                        <div class="portlet-title">
                            <div class="caption">
                                <span class="caption-subject font-dark bold uppercase">Tips</span>
                            </div>
						</div>
						<th:block th:each="tip,iterationStatus  : ${tips}">
                        <div class="portlet-body">
                        	<div class="alert alert-block alert-info fade in">
                                <h4 class="alert-heading" th:text="${tip.title}">Info!</h4>
                                	<p th:text="${tip.description}">  </p>
                            </div>
                        </div>
                        </th:block>
					</div>
					</th:block>
					<div class="row">
					    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					    	<div class="portlet light tasks-widget bordered">
                            	<div class="portlet-title">
                                	<div class="caption">
                                    	<span class="caption-subject font-green-haze bold uppercase">What Do You Want To Do?</span>
                                    </div>
                                </div>
                                <div class="portlet-body util-btn-margin-bottom-5">
                                	<div class="clearfix" style="display: flex;justify-content: space-between;">
								    	<a th:href="@{/autofollow}"><button type="button" class="btn btn-primary" style="margin-bottom:5px">Start Following</button></a>
										<a th:href="@{/autounfollow}"><button type="button" class="btn btn-primary" style="margin-bottom:5px">Start Unfollowing</button></a>
										<a th:href="@{/autorefollow}"><button type="button" class="btn btn-primary" style="margin-bottom:5px">Start Refollowing</button></a>
									</div>
								</div>
							</div>
                        </div>
					</div>
                </div>
                <!-- END CONTENT BODY -->
            </div>
            <!-- END CONTENT -->
        </div>
        <!-- END CONTAINER -->
        <!-- BEGIN FOOTER -->
        <div th:include="fragments/footer :: footer"></div>
        <!-- END FOOTER -->
    </body>
</html>