
<!DOCTYPE html>

<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <!--<![endif]-->
    <!-- BEGIN HEAD -->

    <head>
        <meta charset="utf-8"/>
        <title>BlastFollow | Cookie Policy</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta content="width=device-width, initial-scale=1" name="viewport" />
        <meta content="BlastFollow Privacy Policy" name="description" />
        <meta content="Carey Development, LLC" name="author" />

        <link th:href="@{/assets/global/plugins/font-awesome/css/font-awesome.min.css}" rel="stylesheet" type="text/css"></link>
        <link th:href="@{/assets/global/plugins/simple-line-icons/simple-line-icons.min.css}" rel="stylesheet" type="text/css"></link>
        <link th:href="@{/assets/global/plugins/bootstrap/css/bootstrap.min.css}" rel="stylesheet" type="text/css"></link>
        <link th:href="@{/assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css}" rel="stylesheet" type="text/css"></link>
        <!-- END GLOBAL MANDATORY STYLES -->
        <!-- BEGIN THEME GLOBAL STYLES -->
        <link th:href="@{/assets/global/css/components.min.css}" rel="stylesheet" id="style_components" type="text/css"></link>
        <link th:href="@{/assets/global/css/plugins.min.css}" rel="stylesheet" type="text/css"></link>
        <!-- END THEME GLOBAL STYLES -->
        <!-- BEGIN THEME LAYOUT STYLES -->
        <link th:href="@{/assets/layouts/layout3/css/layout.min.css}" rel="stylesheet" type="text/css"></link>
        <link th:href="@{/assets/layouts/layout3/css/themes/default.min.css}" rel="stylesheet" type="text/css" id="style_color"></link>
        <link th:href="@{/assets/layouts/layout3/css/custom.min.css}" rel="stylesheet" type="text/css"></link>
        <!-- END THEME LAYOUT STYLES -->
        <link rel="shortcut icon" th:href="@{/images/favicon.ico}"></link> 
        
        
        <link th:href="@{/assets/pages/css/about.min.css}" rel="stylesheet" type="text/css" />
        </head>
    <!-- END HEAD -->

    <body class="page-container-bg-solid">
		<div th:include="fragments/topmenuheader :: header"></div>
        <!-- BEGIN CONTAINER -->
        <div class="page-container">
            <!-- BEGIN CONTENT -->
            <div class="page-content-wrapper">
                <!-- BEGIN CONTENT BODY -->
                <!-- BEGIN PAGE HEAD-->
                <div class="page-head" style="background-color:#eff3f8;padding-top:40px">
                    <div class="container">
                        <!-- BEGIN PAGE TITLE -->
                        <div class="page-title">
                            <h1>Cookie Policy
                            </h1>
                        </div>
                        <!-- END PAGE TITLE -->
                        <!-- BEGIN PAGE TOOLBAR -->
                        <div class="page-toolbar">
                            <!-- BEGIN THEME PANEL -->
                            <!-- END THEME PANEL -->
                        </div>
                        <!-- END PAGE TOOLBAR -->
                    </div>
                </div>
                <!-- END PAGE HEAD-->
                <!-- BEGIN PAGE CONTENT BODY -->
                <div class="page-content">
                    <div class="container">
                        <!-- BEGIN PAGE CONTENT INNER -->
                        <div class="page-content-inner">
                            <div class="row margin-bottom-40">
                            <div class="col-lg-12 col-md-12 col-sm-12">

This Cookies Policy is part of our general <a href="./privacy">Privacy Policy.</a>

In common with many other websites, we use cookies and similar technologies to improve your user experience at SEO Playhouse.
<p>&nbsp;</p>
We have created this Cookies Policy to provide you with clear and explicit information about the technologies 
that we use on SEO Playhouse.
<p>&nbsp;</p>
If you choose to use the Platform without blocking or disabling cookies or opting out of other technologies, 
you will indicate your consent to our use of these cookies and other technologies and to our use 
(in accordance with this policy and the rest of our Privacy Policy) of any personal information 
that we collect using these technologies. If you do not consent to the use of these technologies, 
please be sure to block or disable them using your browser settings, the opt-out links identified in this policy, 
or the settings within our mobile apps.
<p>&nbsp;</p>
<h3>WHAT ARE COOKIES?</h3>
Cookies are small text files that are placed on your computer by websites that you visit. These text files can be read by these websites and help to identify you when you return to a website. Cookies can be “persistent” or “session” cookies. Persistent cookies remain on your computer when you have gone offline, while session cookies are deleted as soon as you close your web browser.
<p>&nbsp;</p>
To find out more about cookies, including how to see what cookies have been set and how to block and delete cookies, please visit http://www.aboutcookies.org/.
<p>&nbsp;</p>
<h3>SEO PLAYHOUSE COOKIES</h3>
We use our own cookies to recognize you when you visit our website or use our apps. 
This means that you don’t have to log in each time you visit, and we can remember your preferences and settings.
<p>&nbsp;</p>
<h3>CONTACT</h3>
Questions, comments and requests regarding this Cookies Policy are welcomed and should be addressed to 
us. Click <a th:href="@{/contact}">here</a> to contact us. 
								</div>
                            </div>
                         </div>
                        <!-- END PAGE CONTENT INNER -->
                    </div>
                </div>
                <!-- END PAGE CONTENT BODY -->
                <!-- END CONTENT BODY -->
            </div>
            <!-- END CONTENT -->
            <!-- BEGIN QUICK SIDEBAR -->
            <!-- END QUICK SIDEBAR -->
        </div>
        <div th:include="fragments/homefooter :: footer"></div>
    </body>

</html>