<!DOCTYPE html>

<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <!--<![endif]-->
    <!-- BEGIN HEAD -->
    
    <head>
        <meta charset="utf-8"></meta>
        <title>BlastFollow | Add a URL, Domain, or Subdomain</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
        <meta content="width=device-width, initial-scale=1" name="viewport"></meta>
        <meta content="" name="description"></meta>
        <meta content="" name="author"></meta>                
        <link th:href="@{/assets/global/plugins/font-awesome/css/font-awesome.min.css}" rel="stylesheet" type="text/css"></link>
        <link th:href="@{/assets/global/plugins/simple-line-icons/simple-line-icons.min.css}" rel="stylesheet" type="text/css"></link>
        <link th:href="@{/assets/global/plugins/bootstrap/css/bootstrap.min.css}" rel="stylesheet" type="text/css"></link>
        <link th:href="@{/assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css}" rel="stylesheet" type="text/css"></link>
        <link th:href="@{/assets/global/css/components.min.css}" rel="stylesheet" id="style_components" type="text/css"></link>
        <link th:href="@{/assets/global/css/plugins.min.css}" rel="stylesheet" type="text/css"></link>
        <link th:href="@{/assets/layouts/layout/css/layout.min.css}" rel="stylesheet" type="text/css"></link>
        <link th:href="@{/assets/layouts/layout/css/themes/darkblue.min.css}" rel="stylesheet" type="text/css" id="style_color"></link>
        <link th:href="@{/assets/layouts/layout/css/custom.min.css}" rel="stylesheet" type="text/css"></link>
        <link rel="shortcut icon" th:href="@{/images/favicon.ico}"></link>
        
        <!-- for captcha -->
        <script src='https://www.google.com/recaptcha/api.js'></script>
        
        <script>
        	function submitForm() {
 				$('#keepInMindNote').hide();
 				$('#loadingDiv').show();
 				$("#urlForm").submit()
        	}        	
        </script>
    </head>
    <!-- END HEAD -->

    <body class="page-header-fixed page-sidebar-closed-hide-logo page-content-white">
    
    
    <div id="fb-root"></div>
    
    
        <!-- BEGIN HEADER -->
        <div th:include="fragments/header :: header"></div>
        <!-- END HEADER -->
        <div class="clearfix"> </div>
        <!-- BEGIN CONTAINER -->
        <div class="page-container">
            <!-- BEGIN SIDEBAR -->
            <div th:include="fragments/sidebar :: sidebar"></div>
            <!-- END SIDEBAR -->
            <!-- BEGIN CONTENT -->
            <div class="page-content-wrapper">
                <!-- BEGIN CONTENT BODY -->
                <div class="page-content">
                    <!-- BEGIN PAGE HEADER-->
                    <!-- BEGIN PAGE BAR -->
                    <!--  <div class="page-bar">
                       	<div th:include="fragments/breadcrumbs :: breadcrumbs"></div>
                        <div th:include="fragments/actionbar :: actionbar"></div>
                    </div>-->
                    <!-- END PAGE BAR -->
                    <!-- BEGIN PAGE TITLE-->
                    <h1 class="page-title">Add a URL, Domain, or Subdomain</h1>
                    <!-- END PAGE TITLE-->
                    <!-- END PAGE HEADER-->
                    
                    <div class="row" th:if="${maxUrlsExceeded}">
               			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
	                    	<div class="note note-danger">
	                            <h4 class="block">Too Many URLs</h4>
	                            <p>You are limited to no more than <span th:text="${maxUrls}"></span> URLs per project.</p>
	                        </div>
                        </div>
                    </div>
                    <div class="portlet-body form">
                        <!-- BEGIN FORM-->
                        <div class="note note-danger" th:if="${invalidUrl}">
                        	<h4 class="block">URL Is Invalid</h4>
                            <p> The URL you entered is invalid. Please double-check and try again. </p>
                        </div>
                        <form action="#" th:action="@{/createProjectUrl}" th:object="${projectUrl}" method="POST" class="form-horizontal form-bordered" id="urlForm">
                        	<input type="hidden" id="projectId" name="projectId" th:value="${project.id}"/>
                            <div class="form-body">
                                <div class="form-group" th:classappend="${#fields.hasErrors('url')} ? has-error : ''">
                                    <label class="control-label col-md-3">URL, Domain, or Subdomain</label>
                                    <div class="col-md-4">
                                        <input type="text" class="form-control" maxlength="1024" th:value="*{url}" th:field="*{url}"/>
                                        <span th:if="${#fields.hasErrors('url')}" class="help-block" th:errors="*{url}"></span>
                                        <span th:unless="${#fields.hasErrors('url')}" class="help-block"> You don't have to include the http:// prefix.</span>
                                    </div>
                                </div>
                                <div class="form-group" th:classappend="${captchaFail} ? has-error : ''">
                                    <label class="control-label col-md-3">&nbsp;</label>
                                    <div class="col-md-4">
                                    	<div class="g-recaptcha" data-sitekey="6LdjHygTAAAAAJcDHCTCFJbsNLRGghS3ua43t1nF"></div>
                                    	<div th:if="${captchaFail}" class="help-block">Captcha validation failure</div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3">&nbsp;</label>
                                    <div class="col-md-4">
                                    	<button type="button" class="btn btn-primary" style="margin-bottom:5px" onclick="submitForm()">Add URL/Domain</button>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3">&nbsp;</label>
                                    <div class="col-md-8 col-lg-8" id="keepInMindNote">
                                    	<div class="note note-success">
                                            <h4 class="block">Keep In Mind</h4>
                                            <p> When you click the button above, the system will fetch a variety of metrics for the URL. It will take some time. Please be patient. </p>
                                        </div>
                                    </div>
                                    <div class="col-md-8 col-lg-8" id="loadingDiv" style="display:none">
                                    	<img th:src="@{/images/hourglass.gif}" alt="hourglass"/>
                                    </div>
                                </div>
                             </div>
                          </form>
                     </div>
                </div>
                <!-- END CONTENT BODY -->
            </div>
            <!-- END CONTENT -->
        </div>
        <!-- END CONTAINER -->
        <!-- BEGIN FOOTER -->
        <div th:include="fragments/footer :: footer"></div>
        <script th:src="@{/assets/global/plugins/bootstrap-maxlength/bootstrap-maxlength.min.js}" type="text/javascript"></script>
		<script th:src="@{/assets/pages/scripts/components-bootstrap-maxlength.min.js}" type="text/javascript"></script>
        <!-- END FOOTER -->
    </body>
</html>