<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8" />
  <title>jQuery Tagit Demo Page (HTML)</title>
  
    <script th:src="@{/js/jquery.js}"></script>     
    <script th:src="@{/css/jquery-ui/jquery-ui.js}"></script>  
    <script th:src="@{/js/tagit.js}"></script>    
    
    <link th:href="@{/css/tagit-simple-blue.css}" rel="stylesheet"/>
    <link th:href="@{/css/jquery-ui/jquery-ui.css}" rel="stylesheet"/>

  <script>
    $(function () {

        var availableTags = [];

        $('#demo1').tagit({tagSource:availableTags, select:true, sortable:true});

    });
    
	function showTags(tags) {
		alert(tags);
		var string = "Tags (label : value)\r\n";
		string += "--------\r\n";
		for (var i in tags)
			string += tags[i].label + " : " + tags[i].value + "\r\n";
		alert(string);
	}
	
	function getVals() {
		//var xx = $("#demo1").tagit("tags");
		alert("done");
	}
	
	//setTimeout(getVals, 2000);
  </script>
</head>
<body>

<div id="wrap">

<h1>jQuery Tagit Demo Page</h1>

<h2><a name="demos">Demos</a></h2>

<h3>Hidden Select</h3>

<div class="box">
  <ul id="demo1" data-name="nameOfSelect"><li>#TrumpTrain</li><li>#tot</li><li>#nra</li></ul>
  <div class="buttons">
    <button id="demo1GetTags" value="Get Tags">Get Tags</button>
  </div>
</div>

<script>
//$("#demo1GetTags").click(function () { showTags($("#demo1").tagit("tags")) });
</script>
</div>
</body>
</html>
