
<!DOCTYPE html>

<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <!--<![endif]-->
    <!-- BEGIN HEAD -->

    <head>
        <meta charset="utf-8"/>
        <title>BlastFollow | Privacy Policy</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta content="width=device-width, initial-scale=1" name="viewport" />
        <meta content="BlastFollow Privacy Policy" name="description" />
        <meta content="Carey Development, LLC" name="author" />

        <link th:href="@{/assets/global/plugins/font-awesome/css/font-awesome.min.css}" rel="stylesheet" type="text/css"></link>
        <link th:href="@{/assets/global/plugins/simple-line-icons/simple-line-icons.min.css}" rel="stylesheet" type="text/css"></link>
        <link th:href="@{/assets/global/plugins/bootstrap/css/bootstrap.min.css}" rel="stylesheet" type="text/css"></link>
        <link th:href="@{/assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css}" rel="stylesheet" type="text/css"></link>
        <!-- END GLOBAL MANDATORY STYLES -->
        <!-- BEGIN THEME GLOBAL STYLES -->
        <link th:href="@{/assets/global/css/components.min.css}" rel="stylesheet" id="style_components" type="text/css"></link>
        <link th:href="@{/assets/global/css/plugins.min.css}" rel="stylesheet" type="text/css"></link>
        <!-- END THEME GLOBAL STYLES -->
        <!-- BEGIN THEME LAYOUT STYLES -->
        <link th:href="@{/assets/layouts/layout3/css/layout.min.css}" rel="stylesheet" type="text/css"></link>
        <link th:href="@{/assets/layouts/layout3/css/themes/default.min.css}" rel="stylesheet" type="text/css" id="style_color"></link>
        <link th:href="@{/assets/layouts/layout3/css/custom.min.css}" rel="stylesheet" type="text/css"></link>
        <!-- END THEME LAYOUT STYLES -->
        <link rel="shortcut icon" th:href="@{/images/favicon.ico}"></link> 
        
        
        <link th:href="@{/assets/pages/css/about.min.css}" rel="stylesheet" type="text/css" />
        </head>
    <!-- END HEAD -->

    <body class="page-container-bg-solid">
		<div th:include="fragments/topmenuheader :: header"></div>
        <!-- BEGIN CONTAINER -->
        <div class="page-container">
            <!-- BEGIN CONTENT -->
            <div class="page-content-wrapper">
                <!-- BEGIN CONTENT BODY -->
                <!-- BEGIN PAGE HEAD-->
                <div class="page-head" style="background-color:#eff3f8;padding-top:40px">
                    <div class="container">
                        <!-- BEGIN PAGE TITLE -->
                        <div class="page-title">
                            <h1>Privacy Policy
                            </h1>
                        </div>
                        <!-- END PAGE TITLE -->
                        <!-- BEGIN PAGE TOOLBAR -->
                        <div class="page-toolbar">
                            <!-- BEGIN THEME PANEL -->
                            <!-- END THEME PANEL -->
                        </div>
                        <!-- END PAGE TOOLBAR -->
                    </div>
                </div>
                <!-- END PAGE HEAD-->
                <!-- BEGIN PAGE CONTENT BODY -->
                <div class="page-content">
                    <div class="container">
                        <!-- BEGIN PAGE CONTENT INNER -->
                        <div class="page-content-inner">
                            <div class="row margin-bottom-40">
                            <div class="col-lg-12 col-md-12 col-sm-12">

<h3>OWNERSHIP</h3>
BlastFollow is wholly owned and operated by Carey Development, LLC.
<p>&nbsp;</p>
<h3>INFORMATION COLLECTED</h3>
BlastFollow collects information to provide better services to all users. BlastFollow collects non-personally 
identifying information your browser makes available whenever you visit a website. 
This information includes your Internet Protocol address, browser type, browser language, 
the date and time of your query and one or more cookies that may uniquely identify your browser. BlastFollow uses 
this information to operate, develop and improve our services. Some of our services require your 
personal information in order to (typically your name, email address, credit card information, 
billing address, telephone, etc.) use that information to provide the service.
<p>&nbsp;</p>
<h3>DESCRIPTION OF SERVICES</h3>
BlastFollow uses the information we collect from all of our services to provide, maintain, protect 
and improve them, to develop new ones, and to protect BlastFollow and our users.
<p>&nbsp;</p>
BlastFollow provides users with access to a rich collection of resources, including but not limited to: 
accsess to an online marketing platform for its use. You also understand that the Service may include 
certain communications from BlastFollow, such as service announcements and administrative messages. 
Unless explicitly stated otherwise, any new features that augment or enhance the current Service, 
including the release of new BlastFollow properties, BlastFollow and 3rd related party marketing 
companies, shall be subject to this Agreement. You are responsible for obtaining access to the 
Service, and that access may involve third-party fees (such as Internet service provider or 
airtime charges). Additionally, you must provide and are responsible for all equipment necessary 
to access the Service.
<p>&nbsp;</p>
<h3>INFORMATION SHARED</h3>
BlastFollow does not share your personal information with third parties or the public except our 
service providers, such as payment processors performing services on our behalf. These service 
providers may have access to personal information needed to perform their functions but are not 
permitted to share or use such information for any other purposes.
<p>&nbsp;</p>
Occasions when BlastFollow will deem it necessary to release client information include but are not 
limited to: when requested to do so by law enforcement agencies; when obliged to do so under US law; for 
the purpose of pursuing outstanding debts or liabilities; and when given permission to do so by said client.
<p>&nbsp;</p>
BlastFollow uses analytics tools and other third party technologies, such as Google Analytics and etc. 
to collect non-personal information in the form of various usage and user metrics when you use our 
online service.
<p>&nbsp;</p>
These tools and technologies collect and analyze certain types of information, including cookies, 
IP addresses, device and software identifiers, referring and exit URLs, onsite behavior and 
usage information, feature use metrics and statistics, usage and purchase history, 
and other similar information.
<p>&nbsp;</p>
The third party analytics companies who collect information on our Service may combine the 
information collected with other information they have independently collected from other 
websites and/or other online or mobile products and services relating to your 
activities across their network of websites as well as online and/or mobile products and services. 
We use this information to operate, develop and improve our service.
<p>&nbsp;</p>
Many of these companies collect and use information under their own privacy policies.
<p>&nbsp;</p>
We do not share personal information with companies, organizations and individuals outside of BlastFollow 
unless one of the following circumstances applies:
<p>&nbsp;</p>
We may share aggregated, nonpersonally identifiable information publicly and with our partners – 
like publishers, advertisers or connected sites. For example, we may share information publicly to 
show trends about the general use of our services.
<p>&nbsp;</p>
If BlastFollow is involved in a merger, acquisition or asset sale, we will continue to ensure the 
confidentiality of any personal information and give affected users notice before personal 
information is transferred or becomes subject to a different privacy policy.
<p>&nbsp;</p>
You can object to the use of your personal data for commercial purpose at any time.
<p>&nbsp;</p>
<h3>INFORMATION STORAGE</h3>
By submitting your personal information, you agree to it`s transfer, storing or processing. We will 
take all steps reasonably necessary to ensure that your data is treated securely and in accordance 
with this Privacy Policy.
<p>&nbsp;</p>
Unfortunately, the transmission of information via is internet is not completely secure. Although we 
will do our best to protect your personal data, we cannot guarantee the security of your data 
transmitted to our site; any transmission is at your own risk. Once we have received your information, 
we will use strict procedures and security features to try and prevent unauthorised access.
<p>&nbsp;</p>
<h3>INFORMATION SECURITY</h3>
We work hard to protect BlastFollow and our users from unauthorized access to or unauthorized 
alteration, disclosure or destruction of information we hold. We review our information collection, 
storage and processing practices, including physical security measures, to guard against 
unauthorized access to systems.
<p>&nbsp;</p>
We work hard to restrict access to personal information to Carey Development, LLC employees, 
contractors and agents who need to know that information in order to process it for us, and who are 
subject to strict contractual confidentiality obligations and may be disciplined or terminated if 
they fail to meet these obligations.
<p>&nbsp;</p>
To prevent being a phishing website victim, always check domain details when you are providing your 
personal information. Please, be aware that if you suspect the website you’re on is a fake blastfollow.com 
site, contact us directly.
<p>&nbsp;</p>
<h3>WHEN THIS PRIVACY POLICY APPLIES</h3>
Our Privacy Policy applies to all of the services offered by BlastFollow and services offered on other 
sites.
<p>&nbsp;</p>
Our Privacy Policy does not apply to services offered by other companies or individuals. Our Privacy 
Policy does not cover the information practices of other companies and organizations who advertise 
our services, and who may use cookies, pixel tags and other technologies to serve and offer 
relevant ads.
<p>&nbsp;</p>
Compliance and cooperation with regulatory authorities.
<p>&nbsp;</p>
We regularly review our compliance with our Privacy Policy. We also adhere to several 
self-regulatory frameworks. When we receive formal written complaints, we will contact the person 
who made the complaint to follow up. We work with the appropriate regulatory authorities, 
including local data protection authorities, to resolve any complaints regarding the transfer of 
personal data that we cannot resolve with our users directly.
<p>&nbsp;</p>
<h3>CHANGES</h3>
Our Privacy Policy may change from time to time. We will post any privacy policy changes on this page and, if the changes are significant, we may provide a more prominent notice (including, for certain services, email notification of privacy policy changes). 
The actual Privacy Policy for your review is placed on: http://blastfollow.com/privacy
<p>&nbsp;</p>
<h3>CONTACT</h3>
Questions, comments and requests regarding this Privacy Policy are welcomed and should be addressed to 
us. Click <a th:href="@{/contact}">here</a> to contact us. 
								</div>
                            </div>
                         </div>
                        <!-- END PAGE CONTENT INNER -->
                    </div>
                </div>
                <!-- END PAGE CONTENT BODY -->
                <!-- END CONTENT BODY -->
            </div>
            <!-- END CONTENT -->
            <!-- BEGIN QUICK SIDEBAR -->
            <!-- END QUICK SIDEBAR -->
        </div>
        <div th:include="fragments/footer :: footer"></div>
    </body>

</html>