<!DOCTYPE html>

<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <!--<![endif]-->
    <!-- BEGIN HEAD -->
    
    <head>
        <meta charset="utf-8"></meta>
        <title>SEO Playhouse | Project View</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
        <meta content="width=device-width, initial-scale=1" name="viewport"></meta>
        <meta content="" name="description"></meta>
        <meta content="" name="author"></meta>                
        <link th:href="@{/assets/global/plugins/font-awesome/css/font-awesome.min.css}" rel="stylesheet" type="text/css"></link>
        <link th:href="@{/assets/global/plugins/simple-line-icons/simple-line-icons.min.css}" rel="stylesheet" type="text/css"></link>
        <link th:href="@{/assets/global/plugins/bootstrap/css/bootstrap.min.css}" rel="stylesheet" type="text/css"></link>
        <link th:href="@{/assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css}" rel="stylesheet" type="text/css"></link>
        <link th:href="@{/assets/global/css/components.min.css}" rel="stylesheet" id="style_components" type="text/css"></link>
        <link th:href="@{/assets/global/css/plugins.min.css}" rel="stylesheet" type="text/css"></link>
        <link th:href="@{/assets/layouts/layout/css/layout.min.css}" rel="stylesheet" type="text/css"></link>
        <link th:href="@{/assets/layouts/layout/css/themes/darkblue.min.css}" rel="stylesheet" type="text/css" id="style_color"></link>
        <link th:href="@{/assets/layouts/layout/css/custom.min.css}" rel="stylesheet" type="text/css"></link>
        <link rel="shortcut icon" th:href="@{/images/favicon.ico}"></link>
        
        <!-- for captcha -->
        <script src='https://www.google.com/recaptcha/api.js'></script>
        
        <script>
        function deleteUrl(id,name) {
        	var message = "Are you sure you want to delete " + name + "?";
            bootbox.confirm(message, function(result) {
            	if (result) {
            		document.location = "./deleteProjectUrl?projectUrlId=" + id;	
            	}
            });
        }
        </script>
        
    </head>
    <!-- END HEAD -->

    <body class="page-header-fixed page-sidebar-closed-hide-logo page-content-white">
    
    <div id="fb-root"></div>
    
        <!-- BEGIN HEADER -->
        <div th:include="fragments/header :: header"></div>
        <!-- END HEADER -->
        <div class="clearfix"> </div>
        <!-- BEGIN CONTAINER -->
        <div class="page-container">
            <!-- BEGIN SIDEBAR -->
            <div th:include="fragments/sidebar :: sidebar"></div>
            <!-- END SIDEBAR -->
            <!-- BEGIN CONTENT -->
            <div class="page-content-wrapper">
                <!-- BEGIN CONTENT BODY -->
                <div class="page-content">
                    <!-- BEGIN PAGE HEADER-->
                    <!-- BEGIN PAGE BAR -->
                    <!--  <div class="page-bar">
                       	<div th:include="fragments/breadcrumbs :: breadcrumbs"></div>
                        <div th:include="fragments/actionbar :: actionbar"></div>
                    </div>-->
                    <!-- END PAGE BAR -->
                    <!-- BEGIN PAGE TITLE-->
                    <h1 class="page-title" th:text="${project.name}">Project</h1>
                    <!-- END PAGE TITLE-->
                    <!-- END PAGE HEADER-->
                    <th:block th:if="${noUrls}">
                   	<div class="portlet-body">
                         <div class="note note-success">
                             <h4 class="block">No URLs Yet</h4>
                             <p>This project has no URLs, domains, or subdomains added to it.</p>
                             <p>&nbsp;</p>
                             <p>Click on the "Add URL/Domain" button below to add a URL you'd like to monitor.</p>
                         </div>
                    </div>
                   	</th:block>                 
                   	<th:block th:unless="${noUrls}">
                       <div class="row">
                       	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">                        
	                        <div class="portlet box blue">
	                            <div class="portlet-title">
	                                <div class="caption">
	                                    <i class="fa fa-code"></i>URLs </div>
	                                <!--  <div class="tools">
	                                    <a href="javascript:;" class="collapse"> </a>
	                                    <a href="#portlet-config" data-toggle="modal" class="config"> </a>
	                                    <a href="javascript:;" class="reload"> </a>
	                                    <a href="javascript:;" class="remove"> </a>
	                                </div>-->
	                            </div>
	                            <div class="portlet-body">
	                                <div class="table-responsive">
	                                    <table class="table table-bordered">
	                                        <thead>
	                                            <tr>
	                                                <th> URL </th>
	                                                <th style="width:75px"> Usability </th>
	                                                <th style="width:40px"> TF </th>
	                                                <th style="width:40px"> CF </th>
	                                                <th style="width:90px"> Backlinks </th>
	                                                <th> Action </th>
	                                            </tr>
	                                        </thead>
	                                        <tbody>
	                                        	<tr th:each="url,iterationStatus : ${urls}">
	                                        		<td style="vertical-align:middle"><a th:href="${url.url}" target="_blank" th:text="${url.displayUrl}"></a></td>
	                                        		<td style="vertical-align:middle;text-align:center">
	                                        		<th:block th:if="${url.pageSpeedInsights.mobileSpeed != null}">
	                                        		<th:block th:if="${url.pageSpeedInsights.mobileSpeed &gt; 89}"><i class="fa fa-circle tooltips"  data-container="body" data-placement="top" data-original-title="Fast for mobile users" style="color:green"></i></th:block>
	                                        		<th:block th:if="${url.pageSpeedInsights.mobileSpeed &gt; 69 and url.pageSpeedInsights.mobileSpeed &lt; 90}"><i class="fa fa-circle tooltips"  data-container="body" data-placement="top" data-original-title="Not that fast for mobile users" style="color:yellow"></i></th:block>
	                                        		<th:block th:if="${url.pageSpeedInsights.mobileSpeed &lt; 70}"><i class="fa fa-circle tooltips" data-container="body" data-placement="top" data-original-title="Slow for mobile users" style="color:red"></i></th:block>
	                                        		</th:block>
	                                        		
	                                        		<th:block th:if="${url.pageSpeedInsights.mobileUsability != null}">
	                                        		<th:block th:if="${url.pageSpeedInsights.mobileUsability &gt; 89}"><i class="fa fa-circle tooltips"  data-container="body" data-placement="top" data-original-title="Responsive to mobile users" style="color:green"></i></th:block>
	                                        		<th:block th:if="${url.pageSpeedInsights.mobileUsability &gt; 69 and url.pageSpeedInsights.mobileUsability &lt; 90}"><i class="fa fa-circle tooltips"  data-container="body" data-placement="top" data-original-title="Mobile usability could be improved" style="color:yellow"></i></th:block>
	                                        		<th:block th:if="${url.pageSpeedInsights.mobileUsability &lt; 70}"><i class="fa fa-circle tooltips" data-container="body" data-placement="top" data-original-title="Not optimized for mobile users" style="color:red"></i></th:block>
	                                        		</th:block>

	                                        		<th:block th:if="${url.pageSpeedInsights.desktopSpeed != null}">
	                                        		<th:block th:if="${url.pageSpeedInsights.desktopSpeed &gt; 89}"><i class="fa fa-circle tooltips"  data-container="body" data-placement="top" data-original-title="User-friendly for desktop visitors" style="color:green"></i></th:block>
	                                        		<th:block th:if="${url.pageSpeedInsights.desktopSpeed &gt; 69 and url.pageSpeedInsights.desktopSpeed &lt; 90}"><i class="fa fa-circle tooltips"  data-container="body" data-placement="top" data-original-title="Usability for desktop visitors could be improved" style="color:yellow"></i></th:block>
	                                        		<th:block th:if="${url.pageSpeedInsights.desktopSpeed &lt; 70}"><i class="fa fa-circle tooltips" data-container="body" data-placement="top" data-original-title="User-hostile for desktop visitors" style="color:red"></i></th:block>
	                                        		</th:block>
	                                        		
	                                        		</td>
	                                        		<td th:text="${url.indexItemInfo.trustFlow}" style="vertical-align:middle"></td>
	                                        		<td th:text="${url.indexItemInfo.citationFlow}" style="vertical-align:middle"></td>
	                                        		<td th:text="${url.indexItemInfo.extBacklinks}" style="vertical-align:middle"></td>
	                                        		<td> <a th:href="@{/projectUrlView(projectUrlId=${url.id})}" class="btn dark btn-sm btn-outline sbold uppercase">
                                                               <i class="fa fa-share"></i> View </a>
                                                         <a th:attr="href='javascript:deleteUrl(' + ${url.id} + ',\'' + ${url.url} + '\');'" class="btn dark btn-sm btn-outline sbold uppercase">
                                                                <i class="fa fa-close"></i> Delete </a>
                                                    </td>												
                                                </tr>		                                        
	                                        </tbody>
	                                    </table>
	                                </div>
	                            </div>
	                        </div>
                        </div>
                       </div>                   		
                   	</th:block>   
                   	<div class="row">
					    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					    	<div class="portlet light tasks-widget bordered">
                            	<div class="portlet-title">
                                	<div class="caption">
                                    	<span class="caption-subject font-green-haze bold uppercase">What Would You Like To Do?</span>
                                    </div>
                                </div>
                                <div class="portlet-body util-btn-margin-bottom-5">
                                	<div class="clearfix" style="display: flex;justify-content: space-between;">
								    	<a th:href="@{/createProjectUrl(projectId=${project.id})}"><button type="button" class="btn btn-primary" style="margin-bottom:5px">Add a URL/Domain</button></a>
								    	<a th:href="@{/createProject}"><button type="button" class="btn btn-primary" style="margin-bottom:5px">Create a New Project</button></a>
									</div>
								</div>
							</div>
                        </div>
					</div>
                </div>
                <!-- END CONTENT BODY -->
            </div>
            <!-- END CONTENT -->
        </div>
        <!-- END CONTAINER -->
        <!-- BEGIN FOOTER -->
        <div th:include="fragments/footer :: footer"></div>
        <script th:src="@{/assets/global/plugins/bootbox/bootbox.min.js}" type="text/javascript"></script>
        <script th:src="@{/assets/pages/scripts/ui-bootbox.min.js}" type="text/javascript"></script>
        <!-- END FOOTER -->
    </body>
</html>