
<!DOCTYPE html>

<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <!--<![endif]-->
    <!-- BEGIN HEAD -->

    <head>
        <meta charset="utf-8"/>
        <title>SEO Playhouse | Terms of Service</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta content="width=device-width, initial-scale=1" name="viewport" />
        <meta content="SEO Playhouse Privacy Policy" name="description" />
        <meta content="Carey Development, LLC" name="author" />

        <link th:href="@{/assets/global/plugins/font-awesome/css/font-awesome.min.css}" rel="stylesheet" type="text/css"></link>
        <link th:href="@{/assets/global/plugins/simple-line-icons/simple-line-icons.min.css}" rel="stylesheet" type="text/css"></link>
        <link th:href="@{/assets/global/plugins/bootstrap/css/bootstrap.min.css}" rel="stylesheet" type="text/css"></link>
        <link th:href="@{/assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css}" rel="stylesheet" type="text/css"></link>
        <!-- END GLOBAL MANDATORY STYLES -->
        <!-- BEGIN THEME GLOBAL STYLES -->
        <link th:href="@{/assets/global/css/components.min.css}" rel="stylesheet" id="style_components" type="text/css"></link>
        <link th:href="@{/assets/global/css/plugins.min.css}" rel="stylesheet" type="text/css"></link>
        <!-- END THEME GLOBAL STYLES -->
        <!-- BEGIN THEME LAYOUT STYLES -->
        <link th:href="@{/assets/layouts/layout3/css/layout.min.css}" rel="stylesheet" type="text/css"></link>
        <link th:href="@{/assets/layouts/layout3/css/themes/default.min.css}" rel="stylesheet" type="text/css" id="style_color"></link>
        <link th:href="@{/assets/layouts/layout3/css/custom.min.css}" rel="stylesheet" type="text/css"></link>
        <!-- END THEME LAYOUT STYLES -->
        <link rel="shortcut icon" th:href="@{/images/favicon.ico}"></link> 
        
        
        <link th:href="@{/assets/pages/css/about.min.css}" rel="stylesheet" type="text/css" />
        </head>
    <!-- END HEAD -->

    <body class="page-container-bg-solid">
		<div th:include="fragments/topmenuheader :: header"></div>
        <!-- BEGIN CONTAINER -->
        <div class="page-container">
            <!-- BEGIN CONTENT -->
            <div class="page-content-wrapper">
                <!-- BEGIN CONTENT BODY -->
                <!-- BEGIN PAGE HEAD-->
                <div class="page-head" style="background-color:#eff3f8;padding-top:40px">
                    <div class="container">
                        <!-- BEGIN PAGE TITLE -->
                        <div class="page-title">
                            <h1>Terms and Conditions
                            </h1>
                        </div>
                        <!-- END PAGE TITLE -->
                        <!-- BEGIN PAGE TOOLBAR -->
                        <div class="page-toolbar">
                            <!-- BEGIN THEME PANEL -->
                            <!-- END THEME PANEL -->
                        </div>
                        <!-- END PAGE TOOLBAR -->
                    </div>
                </div>
                <!-- END PAGE HEAD-->
                <!-- BEGIN PAGE CONTENT BODY -->
                <div class="page-content">
                    <div class="container">
                        <!-- BEGIN PAGE CONTENT INNER -->
                        <div class="page-content-inner">
                            <div class="row margin-bottom-40">
                            <div class="col-lg-12 col-md-12 col-sm-12">





These Terms and Conditions ("Agreement") are a legally binding agreement between the user ("User" or "you") of the SEO Playhouse described herein and Carey Development LLC, a North Carolina limited liability company,
with its principal office at 1300 Teacup Spring Cout, Wake Forest, NC, USA ("SEO Playhouse", "we" or "us").

Please make sure you fully understand the contents of this Agreement. If you have any doubts about any of your rights
 and obligations resulting from your acceptance of this Agreement, please consult us or obtain legal support.

IF YOU DO NOT AGREE WITH ANY PROVISION OF THIS AGREEMENT, YOU MAY NOT CONTINUE TO USE THE SERVICES.

<h3>1. SERVICES</h3>
1.1. Definition. The “Services” consist of a suite of online marketing and management tools for search engine optimization (“SEO”), social media and digital marketing 
located at https://www.seoplayhouse.com (the “Website”), which includes tools for research and analysis, 
link building, campaign management, automated tracking of search engine performance, 
analytics and SEO reports. Among other things, the Services enable Users to (a) conduct internet-advertising campaigns, 
(b) obtain information related to their ongoing advertising campaigns, (c) generate reports and analytics on web pages or 
advertising campaigns, and (d) access an extensive array of resources, including but not limited to, 
an online platform.
<p>&nbsp;</p>
1.2. Changes. We reserve the right to change the terms or specifications of any Services in our discretion, 
with or without prior written notice to the Users, by replacement of text of this Agreement or description of free or paid 
subscription plans on the Website or by written notice to you. 
Any changes will take effect immediately unless otherwise stated in the notice of change. 
If any amendment is unacceptable to you, your only recourse is to terminate relations with SEO Playhouse. 
Your continued use of the Services following our notice of change will constitute a binding acceptance of the 
Agreement, as amended.
<p>&nbsp;</p>
1.3. Additional Services. Unless explicitly stated otherwise, any new features that augment or enhance the currently 
offered Services, including the release of new SEO Playhouse services, shall be subject to this Agreement.
<p>&nbsp;</p>
1.4. Right to Use Services. SEO Playhouse hereby grants you permission to use the Services and the Website solely 
as set forth in this Agreement and in the manner set forth on the Website. In the event of any conflict between the 
terms of this Agreement and the Website, the terms of this Agreement shall prevail. Any use of the Services other than 
as set forth in this Agreement or in violation of any term of this Agreement will result in suspension or revocation of 
your use privileges in our sole discretion.
<p>&nbsp;</p>
1.5. Suspension or Termination of Services. Notwithstanding anything stated or implied to the contrary in this Agreement, 
we may at any time, without relinquishing our other rights under this Agreement, applicable law or otherwise, 
suspend or terminate any or all of the Services, effective immediately upon issuance of a written notice. 
Such suspension or termination may also apply, as the case may be, to specific jurisdictions, 
lines of business and otherwise or to a specific customer or a group of Users. 
Notwithstanding the foregoing, solely with respect to Users of paid Services, whenever reasonably possible, 
such Users may be given up to thirty (30) days after notice of suspension or termination of their User account 
to back-up the data stored in their account before it may be removed entirely from our servers.
<p>&nbsp;</p>
1.6. Third Party Services. We reserve the right to use third party service providers in the provisions of all or part of 
the Services including, but not limited to, hosting providers, payment processing services, information and 
communication services, analytics services, internet advertising platforms, advertising service providers and 
platforms. Where any of the aforementioned services are provided by third parties, 
the User may be subject to such third party’s terms and conditions. We accept no responsibility for 
services provided by any third party.
<p>&nbsp;</p>
<h3>2. REGISTRATION AND ACCOUNT</h3>
2.1. Use of the Services. You may use the Services either only as a registered User. However, you may not use the Services if 
you are not of legal age to enter into a contract in your jurisdiction or if do not have the authority to accept this 
Agreement. 
<p>&nbsp;</p>
2.2. Acceptance. By using the Services, you accept the terms of this Agreement and you fully authorize us to obtain, 
process, store, use and transmit your personal data in accordance with our Privacy Policy, which forms an integral 
part of this Agreement.
<p>&nbsp;</p>
2.3. User Representations. By using the Services, you represent and warrant that (a) all registration information you 
submit is truthful and accurate; (b) you will maintain the accuracy of such information; (c) you are at least 18 years of age 
and have the capacity and authority to enter into this Agreement; and (d) your use of the Services does not 
violate any applicable law or regulation.
<p>&nbsp;</p>
2.4. Registration; Billing. To register as a User, you have to create a user account on the Website by following 
registration procedures and instructions set forth therein. There is no cost to create an SEO Playhouse User account. 
However, you may be required to provide billing details to access certain paid services on the Website. 
<p>&nbsp;</p>
2.5. Login and Password. You are solely and fully responsible for keeping confidential all information necessary to 
access and operate with your SEO Playhouse User account, including, but not limited to your User login, password, or 
a security question or phrase, as applicable.
<p>&nbsp;</p>
2.6.User Responsibilities. You are responsible for all of the following with respect to your use of the Services:
<ul>
<li>maintaining the security of your User account and all the activity that occurs on your User account;</li>
<li>maintaining accurate account information at all times, including a valid email address and billing information and updating such information as necessary;</li>
<li>obtaining access to the Services, and that access may involve third-party fees (such as Internet service provider or airtime charges); and</li>
<li>obtaining and maintaining all equipment necessary to access the Services.</li>
</ul>
<p>&nbsp;</p>
2.7. Prohibited Uses. You are expressly prohibited from using the Services in any of the following ways or for any of the 
following purposes:
<ul>
<li>No Illegal Purpose. You may not use the Services for any illegal or unauthorized purpose, including in any way that violates copyright or other laws applicable in the United States or applicable to you.</li>
<li>No Tampering. You may not use the Services in a way that is detrimental to the operation of the Services or the access or use of the Services by anyone else. You will not upload or transmit viruses, worms or any other destructive code. The restriction in this Section applies to any use that interferes or attempts to interfere with the normal operations of the Services, including by hacking, deleting, augmenting or altering the Services.</li>
<li>Permission Required. You may not, without our prior written permission and, solely with respect to lease, resale and 
sublicense, except as may be specifically allowed under your paid subscription plan, (i) copy, distribute 
(including by framing any of the Services on any web site), modify, enhance, translate, reproduce, sell, resell, 
sublicense, rent, lease, or otherwise attempt to exploit the Services or any data resulting therefrom; (ii) decompile, 
disassemble, reverse engineer, or otherwise attempt to discover the source code; 
(iii) make derivative works of the Services; (iv) remove, obscure, or alter any copyright notice, trademarks, 
or other proprietary rights notices affixed to or contained within or accessed in conjunction with or through the 
Website or Services; (v) modify another website so as to falsely imply that it is associated with the Services, 
SEO Playhouse or any other SEO Playhouse products or services; or (vi) make the Website or Services or 
any part thereof available to others in a service undertaking or outsourcing arrangement or 
for any other commercial time-sharing, data processing or other third party use.</li>
<li>Inquiries. You agree not to forward (i) more than 10 inquiries per 1 second from one unique IP address, (ii) more than 10 simultaneous inquiries from 1 User, or (iii) more than 2 simultaneous export inquiries.</li>
<li>Automatic Inquiries. All automatic inquiries are prohibited.</li>
</ul>
<p>&nbsp;</p>
2.8. Special Access and Testing. If you are invited or clearly provided with access to beta testing new tools and 
resources, which are not made available to our users broadly (“closed beta”), you should not rely on, 
nor expect, the continued availability of these new tools and resources. 
Any such access to beta test new tools and resources, if any, is conditioned upon your agreement not to 
disclose any information about these new tools and resources or your experience with using them to third parties.
<p>&nbsp;</p>
2.9. Assignment. A User may not assign, transfer, exchange, pool or barter any of its rights or obligations under this 
Agreement or the User account, unless expressly permitted by SEO Playhouse in writing. Any violation of the foregoing 
restrictions is grounds for immediate User account termination. 
For changes in access under corporate subscriptions to the Services we may require from you a 
detailed explanation of changes in your circumstances, along with confirmation of employment and other 
reasonable information and relevant documents.
<p>&nbsp;</p>
2.10. De-Registration. You may delete your User account at any time. Note that doing so will delete all your 
data and information stored on SEO Playhouse servers and SEO Playhouse will bear no responsibility for such loss of 
data or information. All Service fees incurred prior to de-registration will be due and owing, 
until paid in full, such de-registration notwithstanding.
<p>&nbsp;</p>
2.11. Termination by SEO Playhouse. SEO Playhouse reserves the right to terminate any User account for abusive or 
fraudulent activity, for failure to comply with this Agreement, or for any other reason in its sole discretion.
<p>&nbsp;</p>
<h3>3. FEES AND SETTLEMENT</h3>
There are no fees associated with this service at this time. SEO Playhouse reserves the right to charge fees for its services
at any point in the future.
<p>&nbsp;</p>
<h3> 4. OWNERSHIP AND INTELLECTUAL PROPERTY; USE OF TRADEMARKS</h3>
4.1. All Rights Reserved. User acknowledges and agrees that all rights, title, and interest to, any and all 
intellectual property rights of all types or nature whatsoever, including, without limitation, patent, copyright, 
trademark, data base rights as well as moral rights, know-how and trade secrets (and any licenses in connection with 
any of the same), whether or not registered or capable of registration, and whether subsisting in any 
specific country or countries or any other part of the world, in the Services, the platform used to provide the 
Services (technology, hardware, software etc.), any code or software (SDK, API etc.) which may 
be provided to User or for User’s use under this Agreement and any work products created and/or delivered herein 
and related documentation (forming the SEO Playhouse Website and Services) are and will remain solely 
and exclusively our property and/or the property of SEO Playhouse, SEO Playhouse licensors or affiliates. 
User is granted no title or ownership rights in the SEO Playhouse Website or Service. User’s right to use the 
Website, Services and any part thereof is strictly limited to the provisions of this 
Agreement and we reserve all rights not expressly granted herein.
<p>&nbsp;</p>
4.2. SEO Playhouse Marks. SEO Playhouse DBAs and trade dress and/or service marks of SEO Playhouse and/or our 
affiliates and subsidiaries. Other marks, graphics, icons, names and logos used or displayed on or 
through the Website are trademarks, trade dress and/or service marks (“Marks”) of us and our affiliates 
and subsidiaries or otherwise are the property of their respective owners, who may or may not be 
affiliated with, connected to, or sponsored by us and may be subject to such third parties’ 
terms and conditions. User may not use any metatags or any other “hidden text” utilizing any of the 
aforementioned trademarks, trade dress and/or service marks without our and respective owner’s prior 
written permission. User’s right to use the Marks is strictly limited to the manner of use as 
instructed and approved by us, which right may be revoked or changed at any time at our (or the 
respective owners’ or licensors’) sole discretion. User will accordingly change or remove such display of materials 
immediately upon request by us or the respective Mark owners or licensors. User acknowledges and agrees that 
User shall not contest the ownership of the Marks on the Website for any reason. User’s use or display of 
Marks will terminate effective upon the termination of this Agreement, suspension of the Services or upon notification 
by us or the respective owner or licensor to discontinue such use or display.
<p>&nbsp;</p>
4.3. User’s Marks. User hereby grants us a worldwide, non-exclusive, unlimited and royalty-free license to use User’s 
brands, names, logos, trademarks, trade names and service marks as used by User for informational and advertising 
purposes only.
<p>&nbsp;</p>
4.4. Feedback. Users are under no obligation to give SEO Playhouse any ideas, suggestions, comments or other feedback 
related to the Website, the Services, or the business or operations of SEO Playhouse. If any User shares ideas, suggestions, 
comments, or other feedback with SEO Playhouse, SEO Playhouse will own such idea, suggestion, comment or feedback. 
User hereby assigns all of User’s right, title, and interest in such idea, suggestion, comment, or feedback to SEO Playhouse 
and agrees that SEO Playhouse will be free to use and implement same, without restriction or obligation of any kind, 
without, however, any obligation to do so.
<p>&nbsp;</p>
<h3>5. TERMINATION</h3>
5.1. Termination Right. Either party may terminate this Agreement at any time in its sole discretion with written notice to 
the other if terminated by SEO Playhouse, which notice shall be at least 30 days prior to the termination date if to a 
User of paid Services.
<p>&nbsp;</p>
5.2. Effect of Termination. Upon termination of this Agreement, all rights of the affected User with respect to the use of 
Website or Services shall terminate immediately.
<p>&nbsp;</p>
5.3. Survival. Upon any termination of this Agreement for any reason, all provisions regarding indemnification, warranty, 
liability and limits thereon, and confidentiality and protection of proprietary rights and trade secrets, 
and any provisions which expressly or by their nature are required to survive such termination in order to achieve 
their purpose, shall so survive until it shall no longer be necessary for them to survive in order to 
achieve their purpose.
<p>&nbsp;</p>
<h3>6. WARRANTY DISCLAIMER AND LIMITATION OF LIABILITY</h3>
6.1. Disclaimer. Except where prohibited by law, the Services and the Website are provided “as-is” and “as available” 
and we expressly disclaim any warranties and conditions of any kind, whether express or implied, including the warranties 
or conditions of merchantability, fitness for a particular purpose, title, quiet enjoyment, accuracy, or 
non-infringement. We make no warranty that the Services or the Website (a) will meet your requirements; 
(b) will be available on an uninterrupted, timely, secure, or error-free basis; or (c) will be accurate, 
reliable, free of viruses or other harmful code, complete, legal, or safe. We further make no warranties or 
representations regarding the accuracy or completeness of the content on any sites linked to the Website.
<p>&nbsp;</p>
6.2. Limitation of Liability. In no event shall SEO Playhouse, its officers, directors, employees, or agents, 
be liable to you or to any third party for any direct, indirect, incidental, special, punitive, or 
consequential damages whatsoever arising from or related to either this Agreement, or use of the Services or the 
Website. Our liability to you for any damages arising from or related to this Agreement, will at all times be limited 
to the greater of (a) fifty dollars ($50) or (b) amounts you have paid to us in the prior 12 months (if any). 
The existence of more than one claim will not enlarge this limit. The foregoing limitation of liability shall apply 
to the fullest extent permitted by law in the applicable jurisdiction.
<p>&nbsp;</p>
6.3. Third Party Products and Services. SEO Playhouse does not warrant, endorse, guarantee, or assume responsibility for 
any product or service advertised or offered by a third party through the Website or any hyperlinked website or 
featured in any banner or other advertising, and SEO Playhouse will not be a party to or in any way be responsible 
for monitoring any transaction between you and third-party providers of products or services.
<p>&nbsp;</p>
6.4. Other Jurisdictions. We make no representations that the Services or the Website are appropriate or available 
for use in all locations. Those who access or use the Services or the Website from jurisdictions prohibiting such 
use, do so at their own volition and are responsible for compliance with local law.
<p>&nbsp;</p>
<h3>7. INDEMNITY</h3>
You agree to defend, indemnify and hold harmless SEO Playhouse and its officers, directors, employees and agents, 
from and against any and all claims, damages, obligations, losses, liabilities, costs or debt, and expenses 
(including but not limited to attorney’s fees) arising from: (a) your use of and access to the Services and 
the Website; (b) your violation of any term of this Agreement; or (c) your violation of any third party right, 
including without limitation any copyright, property, or privacy right. This defense and indemnification 
obligation will survive the termination of this Agreement and your use of the Services and the Website.
<p>&nbsp;</p>
<h3>8. MISCELLANEOUS</h3>
8.1. Assignment. This Agreement, any part thereof or any rights or obligations under it may not be novated, 
assigned, outsourced or transferred by you without our advance written consent, but may be assigned by us 
without restriction or limitations. Any assignment or transfer in violation of the aforementioned provisions 
shall be deemed null and void. Subject to the forgoing, the provisions of this Agreement shall be 
binding upon and inure to the benefit of the parties hereto and their respective successors and assigns.
<p>&nbsp;</p>
8.2. Force Majeure. We shall not be liable for failing or delaying performance of our obligations resulting from any 
condition beyond our reasonable control, including but not limited to, use of third parties’ equipment or services, 
communications failure, governmental action, war, acts of terrorism, earthquake, fire, flood or other acts of God, 
labor conditions, power failures, and  Internet disturbances.
<p>&nbsp;</p>
8.3. Governing Law; Jurisdiction. This Agreement and all matters arising therefrom and any dispute arising between 
the parties in connection with this Agreement shall be governed and construed in accordance with the laws of 
United States of America and State of North Carolina notwithstanding the conflict of law provisions thereof. 
The federal and/or state courts in the State of North Carolina, as applicable, shall have exclusive jurisdiction 
in any legal proceedings resulting or connected with this Agreement, and the User hereby irrevocably 
submits to such exclusive jurisdiction. However, this shall not prevent us from bringing any action 
in the court of any other jurisdiction for injunctive or similar relief.
<p>&nbsp;</p>
8.4. Electronic Notices. You agree to receive communications from us in an electronic form. Electronic notices 
will be delivered to your email address, which you used for registration purposes, as it may be subsequently 
changed by you in your account settings or by written notice to us. All communications in electronic format will be 
considered to be “in writing” and to have been received on the day that we send them. We reserve the right, but assume 
no obligation, to provide communications in paper format.
<p>&nbsp;</p>
8.5. Entire Agreement. This Agreement, together with the Privacy Policy, shall constitute the entire agreement between 
you and SEO Playhouse concerning your use of the Website and the Services. However, terms and conditions of some 
other SEO Playhouse services and products, like our Blog, our Webinars, and other, may impose additional terms, 
which can be found in the terms and conditions for such services and products.
<p>&nbsp;</p>
8.6. Languages. This Agreement is in the English language, which prevails over any translations of it to other languages, 
made by us and provided to you for your convenience, as applicable. The Service is designed in the English language 
and its translations into other languages may contain inaccuracies for which we shall not bear any responsibility;
 we suggest using the English version and resorting to versions in other languages only for references and at your
  own risk. You also agree to have all communications with us in English.
<p>&nbsp;</p>
8.7. No Waiver. No failure or delay by a party to exercise any right or remedy provided under this Agreement or 
by law shall constitute a waiver of that (or any other) right or remedy, nor preclude or restrict its further 
exercise. No single or partial exercise of such right or remedy shall preclude or restrict the 
further exercise of that (or any other) right or remedy; and will not be construed as a waiver of any 
subsequent breach or default under the same or any other provision of this Agreement.
<p>&nbsp;</p>
8.8. Severability. All the provisions of this Agreement are distinct and severable. If any provision of this 
Agreement (or part of any provision) is found by any court or other authority of competent jurisdiction to be 
invalid, unenforceable or illegal, this shall not impair the operation of this
 Agreement or affect the other provisions which are valid.
<p>&nbsp;</p>
<h3>9. PRIVACY</h3>
Use of the Services is also governed by our Privacy Policy, the provisions of which are adopted herein by reference 
so when we refer to this Agreement we also refer to the Privacy Policy.
<p>&nbsp;</p>
<h3>10. CONTACTS</h3>
We are always available to be reached by e-mail. Use <a href="./contact">the contact form</a> to reach out to us.
<p>&nbsp;</p>
Last updated: September 22, 2016



								</div>
                            </div>
                         </div>
                        <!-- END PAGE CONTENT INNER -->
                    </div>
                </div>
                <!-- END PAGE CONTENT BODY -->
                <!-- END CONTENT BODY -->
            </div>
            <!-- END CONTENT -->
            <!-- BEGIN QUICK SIDEBAR -->
            <!-- END QUICK SIDEBAR -->
        </div>
        <div th:include="fragments/homefooter :: footer"></div>
    </body>

</html>